@{
    ViewData["Title"] = "Home - ";
}
<main class="flex-shrink-0">
<div class="container col-xxl-8 px-4 py-5">
    <div class="row g-5 py-5 row-cols-1 row-cols-lg-2">
        <div class="col order-last order-lg-first">
            <h1 class="display-5 fw-bold lh-1 mb-3">LoanShark: A Coding Project</h1>
            <h4 class="lead">
                Calculates and breakdowns the payments of a loan and presents the results to the user in a table. This project implements the MVC design pattern to solve the problem using the C# language.
            </h4>
            <ul class="fa-ul pt-2 checklist">
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>HTML5</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>CSS and Bootstrap Layout</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>MVC Design Pattern</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Fundamentals</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Loops</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Functions</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# If/Then/Else</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Boolean Logic</li>
            </ul>
            <div>
                <a type="button" class="button btn btn-outline-dark btn-lg px-4 me-md-2" asp-action="App" id="appPage">
                    Try It
                    Out! 
                </a>
            </div>
            <div class="d-flex mt-5">
                <div class="row">
                    <div class="col"><i class="fab fa-html5 fa-4x html5icon"></i></div>
                    <div class="col"><i class="fab fa-css3-alt fa-4x cssicon"></i></div>
                    <div class="col"><i class="fab fa-bootstrap fa-4x bsicon"></i></div>
                    <div class="col"><img src="/img/csharp.png" width="60" height="60" /></div>
                    <div class="col"><img src="/img/dotnet.svg" width="60" height="60" /></div>
                </div>
            </div>
        </div>
        <div class="col align-self-center order-md-first">
            <img src="~/img/vector/default.svg" class="img-fluid center-block d-block" alt="Loan Shark Logo" width="700" height="500">
        </div>
    </div>
</div>
    </main>
